    .footer {
        text-align: center;
        background-color: rgb(33, 49, 70); 
        margin-top: 50px;
        padding: 100px 0px;
        width: 100%;
        height: 100%s;
    }

    .footer .row {
        width: 100%;
        padding: 10px 0px;
        color: white;
        font-size: 1em;
    }

    .footer .row a {
        text-decoration: none;
        color: gray;
        transition: 0.5s;
        cursor: pointer;
    }

    .footer .row a:hover {
        color: white;
    }

    .footer .row li {
        display: inline-block;
        margin: 0px 30px;
    }

    .row img {
        width: 150px;
        height: auto;
    }