:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 700px) {

  .f-main {
    background-image: url(/src/assets/main2.jpg);
  }

  .f-main img {
    width: 350px;
  }

  .form {
    top: 20%;
    left: 5%;
  }

  .hv {
    font-size: small;
  }

  .smain {
    display: flex;
    flex-direction: column;
  }

  .maiin {
    width: 100%;
    height: fit-content;
    margin: auto;
  }

  .ff {
    width: 100%;
    height: fit-content;
    /* height: 260px; */
  }

  .ind {
    width: 50px;
    height: 50px;
  }

  .innf {
    width: 100%;
    height: fit-content;
    margin: auto;
  }

  .mmm {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .sidesub {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }

  .sidebr {
    margin: auto;
  }

  .t2 {
    width: 97%;
    text-align: center;
  }

  .CartCont {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    text-align: center;
  }

  .rsh {
    display: none;
  }

  .rite {
    display: flex;
  }

  .left img {
    width: 150px;
  }

  .rem {
    display: none;
  }

  .csu {
    margin: 0px 0px;
  }

  .drop a {
    font-size: 13px;
    padding: 5px 10px;
    padding-right: 60px;
  }

  .bt {
    display: none;
  }

  .ProCont {
    width: 140px;
    height: auto;
    margin: 5px;
  }

  .imd {
    width: 140px;
    height: 100px;
  }

  .dropBTN span {
    display: none;
  }

  .dropBTN {
    background-color: transparent;
    color: rgb(33, 49, 70);
  }

  .ti {
    font-size: 20px;
  }

  .tii {
    font-size: 15px;
  }

  .ct {
    margin: auto;
  }

  .cin {
    display: none;
  }

  .inp:hover .cin {
    display: flex;
  }

  .footer .row li {
    display: block;
  }
}